* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* estilização geral da página */
  --cor-font-p: #d9d9d9;
  --cor-title: #ffffff;
  --cor-tifany: #00bfa6;
  --cor-background: #2f2e41;
}
:link {
  text-decoration: none;
  color: var(--cor-font-p);
}
a:hover {
  text-decoration: underline;
  color: var(--cor-tifany);
  font-size: 110%;
}
body {
  margin: 0 auto;
  padding: 0 auto;
  background-color: var(--cor-background);
  max-width: 1280px;
  display: flex;
  flex-direction: column;
 
}
header {
  border: solid transparent;
  display: flex;
  justify-content: space-between;
  margin-left: 98px;
  margin-right: 99px;
  margin-top: 71px;
}
nav {
  display: flex;
  flex-wrap: wrap;
  border: solid transparent;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid transparent;
  height: 30.04878044128418px;
  width: 19.125rem;
  list-style: none;
}
main {
  border: solid transparent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 101px;
 
  
}

@media(max-width: 1254px) {
 main{
    justify-content: center;
 }   
}
h1 {
  font-family: JetBrains Mono;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--cor-title);
}
span {
  color: var(--cor-tifany);
}
section {
  margin-top: 3.68rem;
  border: solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 10.5rem;
  width: 37.75rem;
}
p {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--cor-font-p);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

footer {
  margin-top: 157px;
  border: solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--cor-font-p);
}
article {
  font-family: JetBrains Mono;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  height: 4rem;
  display: flex;
  align-items: center;
  border-top: solid 1px var(--cor-tifany);
}
main, footer {
  margin-right: 89px;
  margin-left: 99px;
}